html
  head
    link(rel="stylesheet", href="/application.css")
    title Shine
  body
    header
      span.user-session
        - if(user)
          span Hi, #{user.username}
          a(href="/logout") Logout
        - else
          a(href="/login") Sign in via Twitter
      img(src="images/shine_logo.png")
    #game-screen
    script(src="/app.bundle.js")
    
      
