html
  head
    link(rel="stylesheet", href="/rmodal-no-bootstrap.css")
    link(rel="stylesheet", href="/animate.css")
    link(rel="stylesheet", href="/application.css")
    title Shine
  body
    header
      span.user-session
        - if(user)
          span Hi, #{user.username}
          a(href="/logout") Logout
        - else
          a(href="/login") Sign in via Twitter
      img(src="images/shine_logo.png")
    #game-screen
    #modal.modal
      .modal-dialog.animated
        .modal-content
          .modal-header Sometimes I feel gray, too. You know what they say, though...
          .modal-body
          .modal-footer
            button.btn Keep Shining
    script(src="/app.bundle.js")
    
      
