/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Body */

body {
  background-color: #22313F;
}

/* Grid */


/* Headers */
header {
  background-color: #22313F;
  padding: 10px;
}

header img {

}

.user-session {
  float: right;
  padding: 10px;
  font-family: serif;
  font-size: 20px;
}

.user-session span {
  color: #FDE3A7;
	margin-right: 10px;
}

.user-session a {
  color: #E87E04;
}
/*.user-session a {
	color: #FDE3A7;
}*/

/* Typography */



/* Content */
#content {
	width: 1230px;
}

#game-screen {
  padding-top: 10px;
	margin-left: 10px;
	display: inline;
	float: left;
}

#game-screen canvas {
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

.modal .modal-dialog {
	border-radius: 10px;
	width: 400px;
	margin: 300px auto;
}

.modal .modal-header {
	margin-bottom: 15px;
	background-color: #FDE3A7;
	padding: 10px;
	border-radius: 10px;
	color: #22313F;
}

.modal-content {
	padding: 10px;
	border-radius: 10px;
	width: 400px;
	margin: 300px auto;
	background-color: #E4F1FE;
	font-size: 16px;
}

.modal-body, .modal-footer {
	padding: 10px;
}

.special {
	font-family: serif;
  font-size: 20px;
	color: E26A6A;
}

.intro {
	color: #22313F;
	font-family: serif;
  font-size: 20px;
}

.modal-body .author {
	margin-top: 10px;
	margin-left: 20px;
}

.modal-body .photo {
	width: auto;
	height: auto;
	max-height: 300px;
	max-width: 350px;
}

.modal-footer .btn {
	color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
	font-size: 16px;
  border: none;
}

#chat-screen {
	margin-top: 10px;
	height: 600px;
	width: 400px;
	background-color: E4F1FE;
	border-width: 5px;
  border-style: solid;
  border-color: black;
	float: right;
	display: inline;
}

#chat-screen .messages {
	height: 573px;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	border-bottom-style: solid;
	overflow-y: scroll;
}

#chat-screen .messages b {
	font-weight: bold;
}

#chat-screen #message {
	bottom: 7px;
}

#chat-screen #message #message-input {
	width: 390px;
	margin-left: 5px;
	margin-top: 3px;
}

/* Logo */
